.appointment-details {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .appointment-details h3 {
    color: #333;
  }
  
  .appointment-details p {
    margin: 5px 0;
    color: #555;
  }
  .fc-event-main-frame > .fc-event-time {
    display: none;
  }

.fc-event-time {
  display: none !important;
}
/* Adicione isso ao seu arquivo de estilo CSS */

.fc-timegrid-event .fc-event-time,
.fc-timegrid-event .fc-event-time span {
    display: none !important;
}

/* Adicione isso ao seu arquivo de estilo CSS */

.fc-timegrid-event .fc-event-time,
.fc-timegrid-event .fc-event-main-frame .fc-event-time {
    display: none !important;
}

  
  
  